{% load static %}

<section class="about-section" id="about">
    <h2 class="about-title">About Us</h2>
    <div class="about-us">
        <div class="about-text">
            <p>Company dedicated to turning the difficult and stressful of a move into a pleasant and simple experience! we are able to cover all your moving needs. It was never so easy to move!</p>
        </div>
    
        <div class="about-image">
            <img src="{% static 'img/about_img.jpg' %}" alt="Moving">
        </div>
    </div>
    <div class="more-content">
        <i class="fas fa-arrow-down"></i>
    </div>
</section>