{% load static %}

<section class="chooseus-section">
    <h2 class="chooseus-title">Why Choose Us?</h2>
    <div class="content">
        <div class="image-container">
            <img src="{% static 'img/why_chooseus_img.jpeg' %}" alt="Why Choose Us">
        </div>
        <div class="reasons">
            <ul>
                <li><i class="fa-solid fa-file-shield icon-reasons"></i>Insured</li>
                <li>⁠<i class="fa-solid fa-calendar-week icon-reasons3"></i>Available 7 days a week.</li>
                <li><i class="fa-solid fa-money-check-dollar icon-reasons"></i>Reasonable prices</li>
                <li><i class="fa-solid fa-credit-card icon-reasons"></i>⁠Credit cards accepted</li>
                <li><i class="fa-solid fa-toolbox icon-reasons2"></i>⁠Fully equipped to handle</li>
                <li><i class="fa-solid fa-shield icon-reasons2"></i>Items protected for transport</li>
                <li><i class="fa-solid fa-clock icon-reasons2"></i>⁠Last minute moving services</li> 
            </ul>
        </div>
    </div>
    <div class="more-content">
        <i class="fas fa-arrow-down"></i>
    </div>
</section>

