{% load static %}

<section class="location-section">
    <h2 class="chooseus-title">Where To Find Us?</h2>
    <div class="location-container">
        <div class="map-container">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3585.6140593873056!2d-80.3045958!3d26.0134571!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88d9a66c2aa5b5db%3A0xeb04a585ddade650!2s11456%20NW%2010th%20St%2C%20Pembroke%20Pines%2C%20FL%2033026%2C%20EE.%20UU.!5e0!3m2!1ses-419!2sni!4v1707362288570!5m2!1ses-419!2sni" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
        <div class="map-img">
            <img src="{% static 'img/colage.jpeg' %}" alt="location_moving">
        </div>
    </div>
</section>