{% load static %}

<section class="services-section" id="services">
    <h2 class="service-title">Our Services</h2>
    <div class="service-container">
        <div class="service">
            <i class="fas fa-car service-icon"></i>
            <div class="service-details">
                <h3 class="services-title">Local Moving</h3>
                <p>For individuals and families who are transitioning to a new home or office within the same city or area.</p>
            </div>
        </div>
        <div class="service">
            <i class="fa-solid fa-map-location-dot service-icon"></i>
            <div class="service-details">
                <h3 class="services-title">Long distance moving</h3>
                <p>The perfect solution for individuals and families who are embarking on a journey to a new city, state, or even country.</p>
            </div>
        </div>
        <div class="service">
            <i class="fa-solid fa-cubes service-icon"></i>
            <div class="service-details">
                <h3 class="services-title">Commercial Moving</h3>
                <p>Transfer of office furniture, equipment, and other assets essential for business operations.</p>
            </div>
        </div>
        <div class="service">
            <i class="fa-solid fa-cart-flatbed-suitcase service-icon"></i>
            <div class="service-details">
                <h3 class="services-title">Packing & Unpacking</h3>
                <p>Services designed to make your move as convenient and stress-free as possible.</p>
            </div>
        </div>
        <div class="service">
            <i class="fa-solid fa-truck-fast service-icon"></i>
            <div class="service-details">
                <h3 class="services-title">Reorganize Your Storage</h3>
                <p>Designed to help you maximize the efficiency and usability of your storage space.</p>
            </div>
        </div>
        <div class="service">
            <i class="fa-solid fa-screwdriver-wrench service-icon"></i>
            <div class="service-details">
                <h3 class="services-title">Assemble/Disassemble of Furniture</h3>
                <p>Professional assistance in the assembly and disassembly of furniture items.</p>
            </div>
        </div>
    </div>
    <div class="more-content">
        <i class="fas fa-arrow-down"></i>
    </div>
</section>